<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{site_config['title']}}</title>
  <id>https://{{site_config['domain']}}/</id>
  <author><name>{{site_config['title']}}</name></author>
  <updated>{{rfc3339now}}</updated>
  <link href="{{site_config['self_url']}}" rel="self" type="application/atom+xml"/>
  {%- for entry in entries %}
  <entry>
    <title>{{entry.title | e}}</title>
    <author>
      <name>{{entry.source.author.configname}}</name>
    </author>
    <published>{{entry.published}}</published>
    <updated>{{entry.published}}</updated>
    <id>{{entry.id_}}</id>
    <link rel="alternate" type="text/html" href="{{entry.link}}"/>
    {%- if entry.summary is not none %}
    <summary>{{entry.summary}}</summary>
    {%- endif %}
    {%- if entry.content is not none %}
    <content type="html">{{entry.content | e}}</content>
    {%- endif %}
    <source>
      <id>{{entry.source.id_}}</id>
      <title>{{entry.source.title | e}}</title>
      {%- if entry.source.author.name is not none %}
      <author>
        <name>{{entry.source.author.name}}</name>
        {%- if entry.source.author.uri is not none %}
        <uri>{{entry.source.author.uri}}</uri>
        {%- endif %}
        {%- if entry.source.author.email is not none %}
        <email>{{entry.source.author.email}}</email>
        {%- endif %}
      </author>
      {%- endif %}
      {%- if entry.source.updated is not none %}
      <updated>{{entry.source.updated}}</updated>
      {%- endif %}
      <link href="{{entry.source.link}}" rel="self" type="application/atom+xml" />
    </source>
  </entry>
  {%- endfor %}
</feed>
