<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta rel="alternate" type="application/atom+xml" href="atom.xml" />
    <link rel="stylesheet" href="style.css" />
    <title>database.news</title>
</head>
<body>
<div class="container">
    <header>
        <div>
            <div class="site-title">{{site_config['title']}}</div>
            <!-- <div class="site-description">a curated list of database news from authoritative sources</div> -->
        </div>
        <div class="header-links">
            <span class="plus"><a href="{{site_config['repo']}}" class="header-link">+ submit a feed</a></span>
            <span class="rss"><a href="atom.xml" class="header-link">» rss</a></span>
        </div>
    </header>

    <main>
        {% for post in posts %}
        <div class="post">
            <div class="post-source">{{ post.source.title }}</div>
            <div class="post-title"><a href="{{post.link}}">{{ post.title }}</a></div>
            
            <div class="post-data">
            <span class="post-author">by <a href="{{ post.source.link }}">{{ post.source.author.configname }}</a></span>
            <span class="post-date">on {{post.published.split('T')[0]}}</span>
            </div>

            {%- if post.summary is not none %}
            <div class="post-summary">{{ post.summary }}</div>
            {%- endif %}
        </div>
        {% endfor %}
    </main>
</div>
</body>
</html>
